.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/zedboxCaptureGPSLogger/CopilotIndices/17.13.430.18484/CodeChunks.db
.vs/zedboxCaptureGPSLogger/CopilotIndices/17.13.430.18484/SemanticSymbols.db
.vs/zedboxCaptureGPSLogger/FileContentIndex/2f3d1d57-a682-4c90-937c-f653e8c2b7b0.vsidx
.vs/zedboxCaptureGPSLogger/v17/.wsuo
.vs/zedboxCaptureGPSLogger/v17/DocumentLayout.json
